.celebrity {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  .search_me {
    display: flex;
    position: relative;
   
    i {
      position: absolute;
      top: 6px;
      left: 7px;
      font-size: 12px;
    }
    input[type="text"] {
      border: 1px solid #aaaaaa;
      border-radius: 6px;
      padding: 5px;
      padding-left: 22px;
      font-size: 12px;
      margin-bottom: 20px;
      min-width: 500px;
      width: 100%;
    }
    :focus-visible {
      outline: none;
      border: 1px solid #aaaaaa;
    }
  }
  .main_Card_container{
    display: flex;
    flex-direction: column;
    .my_card{
      display: flex;
     flex-direction: column;
      padding: 20px;
      border: 1px solid #aaaaaa;
      border-radius: 6px;
      max-width: 500px;
      width: 100%;
      .my_card_head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }
      .sec_1{
        display: flex;
        align-items: center;
        cursor: pointer;
        img{
          border-radius: 50%;
          margin-right: 20px;
        }
        
      }
      .content_sec_1{
        display: flex;
        margin-top: 20px;
        width: 100%;
        .sec_1_content{
          display: flex;
          flex-direction: column;
          width: 33%;
          p{
            color: #aaaaaa;
            margin-bottom: 0;
          }
          .value{
            color: black;
          }
        }
      }
      .edit_delete{
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: 10px;
        i{
          cursor: pointer;
        }
      }

    }
  }
}
@media screen and (max-width: 991px) {
  .search_me{
    width: 100%;
    input[type='text']{
       min-width: fit-content !important;
    }
  }
  .my_card{
    min-width: fit-content !important;
  }
  .content_sec_1{
   
    .sec_1_content{
      width: fit-content !important;
      margin-right: 25px !important;
    }
  }
}